NODE_ENV=production
PORT=3000
APP_URL=https://minume.celider10.digital
DATABASE_URL=postgresql://postgres:password@host:6543/postgres?pgbouncer=true&sslmode=require&connection_limit=10
JWT_SECRET=CAMBIA_ESTO_POR_UNA_CLAVE_SECRETA_LARGA_Y_ALEATORIA_MIN_32_CHARS
JWT_EXPIRES_IN=24h